---
layout: page
title: Etiquetas
---

<div class="site-tags">
  <div class="tag-list">
    {% for tag in site.tags %}
    <a href="#{{ tag[0] | replace: " ", "-" }}"><i class="icon-guide"></i> {{ tag[0] }}</a>
    {% endfor %}
  </div>
  <div class="tag-posts">
    {% for tag in site.tags %}
    <h3 id="{{ tag[0] | replace: " ", "-" }}">{{ tag[0] }}</h3>
    <ul class="tag-posts-tagged">
      {% for post in tag[1] %}
        <a href="{{ site.baseurl }}{{ post.url }}">
          <li>
            {{ post.title }}
          </li>
        </a>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>
