---
layout: default
---

<div class="latest-promotions">
  <h2>
    <span>
      <span>Ultimas</span> Promociones
    </span>
  </h2>
  
  <div class="columns columns-medium">
    {% for post in site.posts limit:4 %}
    {% if post.categories contains "Noticias" %}
    <div class="is-column-small-1-2 is-column-large-1-4">
      <article class="promotion">
        <a href="{{ site.baseurl }}{{ post.url }}" class="promotion-link">
          <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}">
        </a>
        
        <h3 class="promotion-title">
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h3>
        
        <div class="promotion-text">
          {{ post.excerpt }}
        </div>
        
        <div class="level is-mobile">
          <div class="level-left">
            <div class="level-item"><a href="{{ site.baseurl }}{{ post.url }}" class="promotion-button">Ver</a></div>
          </div>
          
          <div class="level-right">
            <div class="level-item"><i class="icon-calendar"></i> <time class="timeago" datetime="{{ post.date }}">{{ post.date }}</time></div>
          </div>
        </div>
      </article>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

<div class="columns">
  <div class="is-column-medium-4-6">
    <main class="latest-guides">
      <h2>
        <span>
          <span>Ultimas</span> Guias
        </span>
      </h2>
      
      <div class="columns columns-medium">
        {% for post in paginator.posts %}
        {% if post.categories contains "Guias" %}
        <div class="is-column-small-1-2">
          <article class="guide">
            <a href="{{ site.baseurl }}{{ post.url }}" class="guide-link">
              <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}">
            </a>
            
            <h3 class="guide-title">
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h3>
            
            <div class="guide-by">
              <div class="level is-mobile">
                <div class="level-left">
                  <div class="level-item">
                    <img src="{{ site.url }}/{{ "assets/img/avatar.jpg" }}" alt="{{ post.title }}" width="35"> por ACast59
                  </div>
                </div>
                <div class="level-right"><time class="timeago" datetime="{{ post.date }}">{{ post.date }}</time></div>
              </div>									
            </div>
            
            <div class="guide-text">
              {{ post.excerpt }}
            </div>
            
            <a href="{{ site.baseurl }}{{ post.url }}" class="guide-button">Leer Guia</a>
          </article>
        </div>
        {% else %}
          {% continue %}
        {% endif %}
        {% endfor %}
        
        <!-- Pagination links -->
        <div class="is-column-small-1-1">
        <div class="pagination">
          {% if paginator.previous_page %}
          <div class="align-left">
            <a href="{{ site.url }}{{ paginator.previous_page_path }}" class="previous">
              Previous
            </a>
          </div>
          {% else %}
            <div class="align-left">
              <span class="previous">Previous</span>
            </div>
          {% endif %}
          
          {% if paginator.next_page %}
          <div class="align-right">
            <a href="{{ site.url }}{{ paginator.next_page_path }}" class="next">Next</a>
          </div>
          {% else %}
          <div class="align-right">
            <span class="next">Next</span>
          </div>
          {% endif %}
        </div>
        </div>
      </div>
    </main>
  </div>
  
  <div class="is-column-medium-2-6">
    <aside class="sidebar">
      {% include sidebar.html %}
    </aside>
  </div>
</div>
