<div class="pre-footer">
  <div class="container">
    <div class="columns">
      <div class="is-column-medium-1-2">
        <h5><span>Sobre</span> GW2Guias</h5>
        
        <p class="site-description">En GW2Guias podras encontrar las mejores guias para Guild Wars 2. Guias para profesiones, artesanias, maestrias, mazmorras, fractals, escuadrones, PvP, Mundo vs Mundo, logros, contenido secreto, consejos y mucho mas!</p>
      </div>
      
      <div class="is-column-medium-1-2">
        <h5><span>Te</span> Recomendamos</h5>
        
        <p class="recommended-text">Para una navegacion web optima te recomendamos el uso de los ultimos navegadores web, no solo mejoraras tu experiencia, tambien mejoraras tu seguridad.</p>
        
        <div class="recommended-browsers">
          <a href="https://www.mozilla.org/es-ES/firefox/new/" ref="nofollow"><i class="icon-firefox"></i></a>
          <a href="https://www.google.com/chrome/" ref="nofollow"><i class="icon-chrome"></i></a>
          <a href="https://www.apple.com/es/safari/" ref="nofollow"><i class="icon-safari"></i></a>
          <a href="https://www.opera.com/es" ref="nofollow"><i class="icon-opera"></i></a>
          <a href="https://www.microsoft.com/es-es/windows/microsoft-edge" ref="nofollow"><i class="icon-edge"></i></a>
        </div>
      </div>
      
      <div class="is-column-small-1-1">
        <h5><span>Legal</span> Disclaimer</h5>
        
        <p>© 2010–<script>document.write(new Date().getFullYear());</script> ArenaNet, LLC. Todos los derechos reservados. Guild Wars, Guild Wars 2, Guild Wars 2: Heart of Thorns, Guild Wars 2: Path of Fire, ArenaNet, NCSOFT, el logo con las NC entrelazadas, y todos los logos y diseños asociados son marcas o marcas registradas de NCsoft Corp. El resto de marcas son propiedad de sus respectivos dueños.</p>
      </div>
    </div>
  </div>
</div>					

<div class="main-footer">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          Copyright &#169; <script>document.write(new Date().getFullYear());</script> GW2Guias
        </div>
      </div>
      
      <div class="level-right">
        <div class="level-item">
          <a href="{{ site.url }}/feed.xml">Feed</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- JS Assets -->
<script src="{{ site.url }}{{ '/assets/js/jquery.timeago.js' }}"></script>
<script src="{{ site.url }}{{ '/assets/js/js.cookie.min.js' }}"></script>
<script src="{{ site.url }}{{ '/assets/js/cookieconsent.min.js' }}"></script>
<!-- Custom JS -->
<script src="{{ site.url }}{{ '/assets/js/custom.js' }}"></script>
<!-- GW2Armory Embeds -->
<script src="https://unpkg.com/armory-embeds@^0.x.x/armory-embeds.js"></script>
<!-- Google Analytics -->
{% if site.google_analytics_token %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.google_analytics_token }}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
