<div class="pre-footer">
  <div class="container">
    <div class="columns">
      <div class="is-column-medium-1-2">
        <h5><span>Sobre</span> GW2Guias</h5>
        
        <p class="site-description">En GW2Guias podras encontrar las mejores guias para Guild Wars 2. Guias para profesiones, artesanias, maestrias, mazmorras, fractals, escuadrones, PvP, Mundo vs Mundo, logros, contenido secreto, consejos y mucho mas!</p>
      </div>
      
      <div class="is-column-medium-1-2">
        <h5><span>Te</span> Recomendamos</h5>
        
        <p class="recommended-text">Para una navegacion web optima te recomendamos el uso de los ultimos navegadores web, no solo mejoraras tu experiencia, tambien mejoraras tu seguridad.</p>
        
        <div class="recommended-browsers">
          <a href=""><i class="icon-firefox"></i></a>
          <a href=""><i class="icon-chrome"></i></a>
          <a href=""><i class="icon-safari"></i></a>
          <a href=""><i class="icon-opera"></i></a>
          <a href=""><i class="icon-edge"></i></a>
        </div>
      </div>
      
      <div class="is-column-small-1-1">
        <h5><span>Legal</span> Disclaimer</h5>
        
        <p>© 2010–<script>document.write(new Date().getFullYear());</script> ArenaNet, LLC. Todos los derechos reservados. Guild Wars, Guild Wars 2, Guild Wars 2: Heart of Thorns, Guild Wars 2: Path of Fire, ArenaNet, NCSOFT, el logo con las NC entrelazadas, y todos los logos y diseños asociados son marcas o marcas registradas de NCsoft Corp. El resto de marcas son propiedad de sus respectivos dueños.</p>
      </div>
    </div>
  </div>
</div>					

<div class="main-footer">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          Copyright &#169; <script>document.write(new Date().getFullYear());</script> GW2Guias
        </div>
      </div>
      
      <div class="level-right">
        <div class="level-item">
          <a href="colabora.html">Publicidad</a>
          <a href="privacidad.html">Contacto</a>
        </div>
      </div>
    </div>
  </div>
</div>
