<div class="affbar" style="background-image: url('{{ site.url }}/{{ 'assets/img/farcry5.jpg' }}');">
  <div class="affbar-overlay"></div>
  
  <div class="affbar-content">
    <a href="{{ site.url }}">
      <span class="is-hidden is-visible-mobile">
        Ver Promociones
      </span>
      
      <span class="is-hidden-mobile">
        Get GOD EATER 2: Rage Burst, Deus Ex: Manking Divided, and Mafia III + Mafia III: Signs of the Times when you subscribe for just $12.
      </span>
    </a>
  </div>
  <a href="javascript:void(0)" class="affbar-close"><i class="icon-close"></i></a>
</div>

<div class="topbar is-hidden-mobile">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <i><span class="icon-tip"></span> Sabias que...</i>
        </div>
      </div>
      
      <div class="level-right">
        <div class="level-item">
          <a href="" target="_blank"><i class="icon-facebook"></i></a>
          <a href="" target="_blank"><i class="icon-gplus"></i></a>
          <a href="" target="_blank"><i class="icon-twitter"></i></a>
          <a href="" target="_blank"><i class="icon-rss"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="navbar">
  <div class="container">
    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <h1 class="logo">
            <a href="{{ site.url }}" title="GW2Guias"><span>GW2</span>Guias</a>
          </h1>
        </div>
      </div>
      
      <nav class="level-right is-hidden-mobile">
        <div class="level-item"><a href="{{ site.url }}">Inicio</a></div>
        <div class="level-item"><a href="{{ site.url }}{{ site.category_page }}#Guias">Guias</a></div>
        <div class="level-item"><a href="{{ site.url }}{{ site.category_page }}#Noticias">Noticias</a></div>
      </nav>
      
      <div class="level-right is-hidden is-visible-mobile">
        <div class="level-item"><a onclick="openMobileMenu()" class="mobile-menu-open"><i class="icon-menu icon-2x"></i></a></div>
      </div>
    </div>
  </div>
</div>
