<div class="widget">						
  <div class="widget-content">
    <form role="search" method="get" id="searchform" class="field has-addons" action="{{ site.url }}/busqueda/">
      <div class="control is-expanded">
        <input class="input" type="text" value="" name="q" id="s" placeholder="Buscar...">
      </div>
      
      <div class="control">
        <button class="button" type="submit">
          <i class="icon-search"></i>
        </button>
      </div>
    </form>
  </div>
</div>

<div class="widget widget-highlighted">
  <h4>
    <span>
      <span>Widget</span> #1
    </span>
  </h4>
  
  <div class="widget-content">
    <p>Contenido</p>
  </div>
</div>
