<div class="widget">						
  <div class="widget-content">
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input" type="text" placeholder="Buscar...">
      </div>
      
      <div class="control">
        <a class="button">
          <i class="icon-search"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="widget widget-highlighted">
  <h4>
    <span>
      <span>Widget</span> #1
    </span>
  </h4>
  
  <div class="widget-content">
    <p>Contenido</p>
  </div>
</div>
