<div class="widget">						
  <div class="widget-content">
    <form role="search" method="get" id="searchform" class="field has-addons" action="{{ site.url }}/busqueda/">
      <div class="control is-expanded">
        <input class="input" type="text" value="" name="q" id="s" placeholder="Buscar...">
      </div>
      
      <div class="control">
        <button class="button" type="submit">
          <i class="icon-search"></i>
        </button>
      </div>
    </form>
  </div>
</div>

<div class="widget widget-highlighted">
  <h4>
    <span>
      <span>Recursos</span> y Herramientas
    </span>
  </h4>
  
  <div class="widget-content">
    <ul>
      <li><a href="https://gw2armory.com/" rel="nofollow">GW2Armory</a></li>
      <li><a href="https://gw2efficiency.com/" rel="nofollow">GW2Efficiency</a></li>
      <li><a href="https://www.gw2spidy.com/" rel="nofollow">GW2Spidy</a></li>
    </ul>
  </div>
</div>
