---
---

/*
Template: GuiasGamers
Description: GuiasGamers default template.
Author: Angel Castillo
Version: 1.0.0
*/

/*--------------------------------------------------------------/
Table of Contents:
  # Normalize
  # Alignments
  # Typography
  # Forms
  # Formatting
  # Links
  # Icons
  # Grid
  # Levels
  # Fields
  # Layout
    ## Header
      ### Affbar
      ### Topbar
      ### Navbar
    ## Breadcrumbs
    ## Index
      ### Carousel
      ### Promotions
      ### Guides
    ## Posts
    ## Pages
    ## 404 Page
    ## Pagination
    ## Sidebar
    ## Footer
    ## Mobile Menu
  # Cookie Consent
  # Media Queries
/--------------------------------------------------------------*/

/*-------------------------------------------------------------*/
/* # Normalize
/*-------------------------------------------------------------*/

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*-------------------------------------------------------------*/
/* # Alignments
/*-------------------------------------------------------------*/

.align-left {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.align-right {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.align-center {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

/*-------------------------------------------------------------*/
/* # Typography
/*-------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
  color: #3f3d3d;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.66;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
}

h2 {
  color: #666;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
}

h3 {
  color: #333;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 300;
}

h4 {
  color: #333;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 800;
}

h5 {
  color: #767676;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 800;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

h6 {
  color: #333;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 800;
}

p {
  margin: 0 0 1.5em;
  padding: 0;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  color: #666;
  font-size: 18px;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.7;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

blockquote cite {
  display: block;
  font-style: normal;
  font-weight: 600;
  margin-top: 0.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #eee;
  text-decoration: none;
}

big {
  font-size: 125%;
}

blockquote {
  quotes: "" "";
}

q {
  quotes: "“" "”" "‘" "’";
}

blockquote:before,
blockquote:after {
  content: "";
}

:focus {
  outline: none;
}

/*-------------------------------------------------------------*/
/* # Forms
/*-------------------------------------------------------------*/

label {
  color: #333;
  display: block;
  font-weight: 800;
  margin-bottom: 0.5em;
}

fieldset {
  margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  padding: 0.7em;
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #222;
  border-color: #333;
}

select {
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 3em;
  max-width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.5em;
}

input[type="radio"]+label,
input[type="checkbox"]+label {
  font-weight: 400;
}

button,
input[type="button"],
input[type="submit"] {
  background-color: #222;
  border: 0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1;
  padding: 1em 2em;
  text-shadow: none;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

input+button,
input+input[type="button"],
input+input[type="submit"] {
  padding: 0.75em 2em;
}

button.secondary,
input[type="reset"],
input[type="button"].secondary,
input[type="reset"].secondary,
input[type="submit"].secondary {
  background-color: #ddd;
  color: #222;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #767676;
}

button.secondary:hover,
button.secondary:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"].secondary:hover,
input[type="button"].secondary:focus,
input[type="reset"].secondary:hover,
input[type="reset"].secondary:focus,
input[type="submit"].secondary:hover,
input[type="submit"].secondary:focus {
  background: #bbb;
}

/*-------------------------------------------------------------*/
/* # Formatting
/*-------------------------------------------------------------*/

hr {
  background-color: #bbb;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/*-------------------------------------------------------------*/
/* # Links
/*-------------------------------------------------------------*/

a {
  color: #383838;
  text-decoration: none;
  -webkit-transition: .15s color;
  -o-transition: .15s color;
  transition: .15s color;
}

a:hover,
a:active {
  color: #DD163B;
  outline: 0;
}

/*-------------------------------------------------------------*/
/* # Icons
/*-------------------------------------------------------------*/

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?9420647');
  src: url('../fonts/fontello.eot?9420647#iefix') format('embedded-opentype'), url('../fonts/fontello.woff2?9420647') format('woff2'), url('../fonts/fontello.woff?9420647') format('woff'), url('../fonts/fontello.ttf?9420647') format('truetype'), url('../fonts/fontello.svg?9420647#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-views:before {
  content: '\e800';
}

.icon-up:before {
  content: '\e801';
}

.icon-close:before {
  content: '\e802';
}

.icon-right:before {
  content: '\e803';
}

.icon-search:before {
  content: '\e804';
}

.icon-calendar:before {
  content: '\e805';
}

.icon-home:before {
  content: '\e806';
}

.icon-promotions:before {
  content: '\e807';
}

.icon-see-all:before {
  content: '\e808';
}

.icon-menu:before {
  content: '\f0c9';
}

.icon-gplus:before {
  content: '\f0d4';
}

.icon-tip:before {
  content: '\f0eb';
}

.icon-gamepad:before {
  content: '\f11b';
}

.icon-guide:before {
  content: '\f124';
}

.icon-rss:before {
  content: '\f143';
}

.icon-doc:before {
  content: '\f15c';
}

.icon-youtube:before {
  content: '\f166';
}

.icon-steam:before {
  content: '\f1b7';
}

.icon-safari:before {
  content: '\f267';
}

.icon-chrome:before {
  content: '\f268';
}

.icon-firefox:before {
  content: '\f269';
}

.icon-opera:before {
  content: '\f26a';
}

.icon-edge:before {
  content: '\f282';
}

.icon-percent:before {
  content: '\f295';
}

.icon-twitter:before {
  content: '\f304';
}

.icon-facebook:before {
  content: '\f308';
}

.icon-2x {
  font-size: 200%;
}

/*-------------------------------------------------------------*/
/* # Grid
/*-------------------------------------------------------------*/

.columns {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.columns:before,
.columns:after {
  content: "";
  display: block;
  overflow: hidden;
}

.columns:after {
  clear: both;
}

.columns>* {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  margin: 0;
  float: left;
}

.columns>*> :last-child {
  margin-bottom: 0;
}

.columns {
  margin-left: -25px;
}

.columns>* {
  padding-left: 25px;
}

.columns+.columns {
  margin-top: 25px;
}

@media (min-width: 1220px) {
  .columns {
    margin-left: -35px;
  }
  .columns>* {
    padding-left: 35px;
  }
  .columns+.columns {
    margin-top: 35px;
  }
}

.columns-small {
  margin-left: -10px;
}

.columns-small>* {
  padding-left: 10px;
}

.columns-small+.columns-small {
  margin-top: 10px;
}

.columns-medium {
  margin-left: -25px;
}

.columns-medium>* {
  padding-left: 25px;
}

.columns-medium+.columns-medium {
  margin-top: 25px;
}

.columns-collapse {
  margin-left: 0;
}

.columns-collapse>* {
  padding-left: 0;
}

.columns-collapse+.columns-collapse {
  margin-top: 0;
}

.columns-match>* {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.columns-match>*>* {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  box-sizing: border-box;
  width: 100%;
}

[class*='is-column'] {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 35px;
}

.is-column-1-1 {
  width: 100%;
}

.is-column-1-2,
.is-column-2-4,
.is-column-3-6,
.is-column-5-10 {
  width: 50%;
}

.is-column-1-3,
.is-column-2-6 {
  width: 33.333%;
}

.is-column-2-3,
.is-column-4-6 {
  width: 66.666%;
}

.is-column-1-4 {
  width: 25%;
}

.is-column-3-4 {
  width: 75%;
}

.is-column-1-5,
.is-column-2-10 {
  width: 20%;
}

.is-column-2-5,
.is-column-4-10 {
  width: 40%;
}

.is-column-3-5,
.is-column-6-10 {
  width: 60%;
}

.is-column-4-5,
.is-column-8-10 {
  width: 80%;
}

.is-column-1-6 {
  width: 16.666%;
}

.is-column-5-6 {
  width: 83.333%;
}

.is-column-1-10 {
  width: 10%;
}

.is-column-3-10 {
  width: 30%;
}

.is-column-7-10 {
  width: 70%;
}

.is-column-9-10 {
  width: 90%;
}

@media (min-width: 480px) {
  .is-column-small-1-1 {
    width: 100%;
  }
  .is-column-small-1-2,
  .is-column-small-2-4,
  .is-column-small-3-6,
  .is-column-small-5-10 {
    width: 50%;
  }
  .is-column-small-1-3,
  .is-column-small-2-6 {
    width: 33.333%;
  }
  .is-column-small-2-3,
  .is-column-small-4-6 {
    width: 66.666%;
  }
  .is-column-small-1-4 {
    width: 25%;
  }
  .is-column-small-3-4 {
    width: 75%;
  }
  .is-column-small-1-5,
  .is-column-small-2-10 {
    width: 20%;
  }
  .is-column-small-2-5,
  .is-column-small-4-10 {
    width: 40%;
  }
  .is-column-small-3-5,
  .is-column-small-6-10 {
    width: 60%;
  }
  .is-column-small-4-5,
  .is-column-small-8-10 {
    width: 80%;
  }
  .is-column-small-1-6 {
    width: 16.666%;
  }
  .is-column-small-5-6 {
    width: 83.333%;
  }
  .is-column-small-1-10 {
    width: 10%;
  }
  .is-column-small-3-10 {
    width: 30%;
  }
  .is-column-small-7-10 {
    width: 70%;
  }
  .is-column-small-9-10 {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .is-column-medium-1-1 {
    width: 100%;
  }
  .is-column-medium-1-2,
  .is-column-medium-2-4,
  .is-column-medium-3-6,
  .is-column-medium-5-10 {
    width: 50%;
  }
  .is-column-medium-1-3,
  .is-column-medium-2-6 {
    width: 33.333%;
  }
  .is-column-medium-2-3,
  .is-column-medium-4-6 {
    width: 66.666%;
  }
  .is-column-medium-1-4 {
    width: 25%;
  }
  .is-column-medium-3-4 {
    width: 75%;
  }
  .is-column-medium-1-5,
  .is-column-medium-2-10 {
    width: 20%;
  }
  .is-column-medium-2-5,
  .is-column-medium-4-10 {
    width: 40%;
  }
  .is-column-medium-3-5,
  .is-column-medium-6-10 {
    width: 60%;
  }
  .is-column-medium-4-5,
  .is-column-medium-8-10 {
    width: 80%;
  }
  .is-column-medium-1-6 {
    width: 16.666%;
  }
  .is-column-medium-5-6 {
    width: 83.333%;
  }
  .is-column-medium-1-10 {
    width: 10%;
  }
  .is-column-medium-3-10 {
    width: 30%;
  }
  .is-column-medium-7-10 {
    width: 70%;
  }
  .is-column-medium-9-10 {
    width: 90%;
  }
}

@media (min-width: 960px) {
  .is-column-large-1-1 {
    width: 100%;
  }
  .is-column-large-1-2,
  .is-column-large-2-4,
  .is-column-large-3-6,
  .is-column-large-5-10 {
    width: 50%;
  }
  .is-column-large-1-3,
  .is-column-large-2-6 {
    width: 33.333%;
  }
  .is-column-large-2-3,
  .is-column-large-4-6 {
    width: 66.666%;
  }
  .is-column-large-1-4 {
    width: 25%;
  }
  .is-column-large-3-4 {
    width: 75%;
  }
  .is-column-large-1-5,
  .is-column-large-2-10 {
    width: 20%;
  }
  .is-column-large-2-5,
  .is-column-large-4-10 {
    width: 40%;
  }
  .is-column-large-3-5,
  .is-column-large-6-10 {
    width: 60%;
  }
  .is-column-large-4-5,
  .is-column-large-8-10 {
    width: 80%;
  }
  .is-column-large-1-6 {
    width: 16.666%;
  }
  .is-column-large-5-6 {
    width: 83.333%;
  }
  .is-column-large-1-10 {
    width: 10%;
  }
  .is-column-large-3-10 {
    width: 30%;
  }
  .is-column-large-7-10 {
    width: 70%;
  }
  .is-column-large-9-10 {
    width: 90%;
  }
}

@media (min-width: 1220px) {
  .is-column-xlarge-1-1 {
    width: 100%;
  }
  .is-column-xlarge-1-2,
  .is-column-xlarge-2-4,
  .is-column-xlarge-3-6,
  .is-column-xlarge-5-10 {
    width: 50%;
  }
  .is-column-xlarge-1-3,
  .is-column-xlarge-2-6 {
    width: 33.333%;
  }
  .is-column-xlarge-2-3,
  .is-column-xlarge-4-6 {
    width: 66.666%;
  }
  .is-column-xlarge-1-4 {
    width: 25%;
  }
  .is-column-xlarge-3-4 {
    width: 75%;
  }
  .is-column-xlarge-1-5,
  .is-column-xlarge-2-10 {
    width: 20%;
  }
  .is-column-xlarge-2-5,
  .is-column-xlarge-4-10 {
    width: 40%;
  }
  .is-column-xlarge-3-5,
  .is-column-xlarge-6-10 {
    width: 60%;
  }
  .is-column-xlarge-4-5,
  .is-column-xlarge-8-10 {
    width: 80%;
  }
  .is-column-xlarge-1-6 {
    width: 16.666%;
  }
  .is-column-xlarge-5-6 {
    width: 83.333%;
  }
  .is-column-xlarge-1-10 {
    width: 10%;
  }
  .is-column-xlarge-3-10 {
    width: 30%;
  }
  .is-column-xlarge-7-10 {
    width: 70%;
  }
  .is-column-xlarge-9-10 {
    width: 90%;
  }
}

/*-------------------------------------------------------------*/
/* # Levels
/*-------------------------------------------------------------*/

.level {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.level:not(:last-child) {
  margin-bottom: 1.5rem;
}

.level code {
  border-radius: 3px;
}

.level img {
  display: inline-block;
  vertical-align: top;
}

.level.is-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.level.is-mobile .level-left,
.level.is-mobile .level-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.level.is-mobile .level-left+.level-right {
  margin-top: 0;
}

.level.is-mobile .level-item {
  margin-right: 0.75rem;
}

.level.is-mobile .level-item:not(:last-child) {
  margin-bottom: 0;
}

.level.is-mobile .level-item:not(.is-narrow) {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

@media screen and (min-width: 769px),
print {
  .level {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .level>.level-item:not(.is-narrow) {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

.level-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.level-item .title,
.level-item .subtitle {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .level-item:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}

.level-left,
.level-right {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.level-left .level-item.is-flexible,
.level-right .level-item.is-flexible {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

@media screen and (min-width: 769px),
print {
  .level-left .level-item:not(:last-child),
  .level-right .level-item:not(:last-child) {
    margin-right: 0.75rem;
  }
}

.level-left {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .level-left+.level-right {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 769px),
print {
  .level-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.level-right {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media screen and (min-width: 769px),
print {
  .level-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*-------------------------------------------------------------*/
/* # Fields
/*-------------------------------------------------------------*/

.field:not(:last-child) {
  margin-bottom: 0.75rem;
}

.field.has-addons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.field.has-addons .control:not(:last-child) {
  margin-right: -1px;
}

.field.has-addons .control:not(:first-child):not(:last-child) .button,
.field.has-addons .control:not(:first-child):not(:last-child) .input,
.field.has-addons .control:not(:first-child):not(:last-child) .select select {
  border-radius: 0;
}

.field.has-addons .control:first-child .button,
.field.has-addons .control:first-child .input,
.field.has-addons .control:first-child .select select {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.field.has-addons .control:last-child .button,
.field.has-addons .control:last-child .input,
.field.has-addons .control:last-child .select select {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.field.has-addons .control .button:hover,
.field.has-addons .control .button.is-hovered,
.field.has-addons .control .input:hover,
.field.has-addons .control .input.is-hovered,
.field.has-addons .control .select select:hover,
.field.has-addons .control .select select.is-hovered {
  z-index: 2;
}

.field.has-addons .control .button:focus,
.field.has-addons .control .button.is-focused,
.field.has-addons .control .button:active,
.field.has-addons .control .button.is-active,
.field.has-addons .control .input:focus,
.field.has-addons .control .input.is-focused,
.field.has-addons .control .input:active,
.field.has-addons .control .input.is-active,
.field.has-addons .control .select select:focus,
.field.has-addons .control .select select.is-focused,
.field.has-addons .control .select select:active,
.field.has-addons .control .select select.is-active {
  z-index: 3;
}

.field.has-addons .control .button:focus:hover,
.field.has-addons .control .button.is-focused:hover,
.field.has-addons .control .button:active:hover,
.field.has-addons .control .button.is-active:hover,
.field.has-addons .control .input:focus:hover,
.field.has-addons .control .input.is-focused:hover,
.field.has-addons .control .input:active:hover,
.field.has-addons .control .input.is-active:hover,
.field.has-addons .control .select select:focus:hover,
.field.has-addons .control .select select.is-focused:hover,
.field.has-addons .control .select select:active:hover,
.field.has-addons .control .select select.is-active:hover {
  z-index: 4;
}

.field.has-addons .control.is-expanded {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.field.has-addons.has-addons-centered {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.field.has-addons.has-addons-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.field.has-addons.has-addons-fullwidth .control {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.field.is-grouped {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.field.is-grouped>.control {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.field.is-grouped>.control:not(:last-child) {
  margin-bottom: 0;
  margin-right: 0.75rem;
}

.field.is-grouped>.control.is-expanded {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.field.is-grouped.is-grouped-centered {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.field.is-grouped.is-grouped-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.field.is-grouped.is-grouped-multiline {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.field.is-grouped.is-grouped-multiline>.control:last-child,
.field.is-grouped.is-grouped-multiline>.control:not(:last-child) {
  margin-bottom: 0.75rem;
}

.field.is-grouped.is-grouped-multiline:last-child {
  margin-bottom: -0.75rem;
}

.field.is-grouped.is-grouped-multiline:not(:last-child) {
  margin-bottom: 0;
}

@media screen and (min-width: 769px),
print {
  .field.is-horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.field-label .label {
  font-size: inherit;
}

@media screen and (max-width: 768px) {
  .field-label {
    margin-bottom: 0.5rem;
  }
}

@media screen and (min-width: 769px),
print {
  .field-label {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 1.5rem;
    text-align: right;
  }
  .field-label.is-small {
    font-size: 0.75rem;
    padding-top: 0.375em;
  }
  .field-label.is-normal {
    padding-top: 0.375em;
  }
  .field-label.is-medium {
    font-size: 1.25rem;
    padding-top: 0.375em;
  }
  .field-label.is-large {
    font-size: 1.5rem;
    padding-top: 0.375em;
  }
}

.field-body .field .field {
  margin-bottom: 0;
}

@media screen and (min-width: 769px),
print {
  .field-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 5;
    -ms-flex-positive: 5;
    flex-grow: 5;
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }
  .field-body .field {
    margin-bottom: 0;
  }
  .field-body>.field {
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }
  .field-body>.field:not(.is-narrow) {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .field-body>.field:not(:last-child) {
    margin-right: 0.75rem;
  }
}

.control {
  font-size: 1rem;
  position: relative;
  text-align: left;
}

.control.has-icon .icon {
  color: #dbdbdb;
  height: 2.25em;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 2.25em;
  z-index: 4;
}

.control.has-icon .input:focus+.icon {
  color: #7a7a7a;
}

.control.has-icon .input.is-small+.icon {
  font-size: 0.75rem;
}

.control.has-icon .input.is-medium+.icon {
  font-size: 1.25rem;
}

.control.has-icon .input.is-large+.icon {
  font-size: 1.5rem;
}

.control.has-icon:not(.has-icon-right) .icon {
  left: 0;
}

.control.has-icon:not(.has-icon-right) .input {
  padding-left: 2.25em;
}

.control.has-icon.has-icon-right .icon {
  right: 0;
}

.control.has-icon.has-icon-right .input {
  padding-right: 2.25em;
}

.control.has-icons-left .input:focus~.icon,
.control.has-icons-left .select:focus~.icon,
.control.has-icons-right .input:focus~.icon,
.control.has-icons-right .select:focus~.icon {
  color: #7a7a7a;
}

.control.has-icons-left .input.is-small~.icon,
.control.has-icons-left .select.is-small~.icon,
.control.has-icons-right .input.is-small~.icon,
.control.has-icons-right .select.is-small~.icon {
  font-size: 0.75rem;
}

.control.has-icons-left .input.is-medium~.icon,
.control.has-icons-left .select.is-medium~.icon,
.control.has-icons-right .input.is-medium~.icon,
.control.has-icons-right .select.is-medium~.icon {
  font-size: 1.25rem;
}

.control.has-icons-left .input.is-large~.icon,
.control.has-icons-left .select.is-large~.icon,
.control.has-icons-right .input.is-large~.icon,
.control.has-icons-right .select.is-large~.icon {
  font-size: 1.5rem;
}

.control.has-icons-left .icon,
.control.has-icons-right .icon {
  color: #dbdbdb;
  height: 2.25em;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 2.25em;
  z-index: 4;
}

.control.has-icons-left .input,
.control.has-icons-left .select select {
  padding-left: 2.25em;
}

.control.has-icons-left .icon.is-left {
  left: 0;
}

.control.has-icons-right .input,
.control.has-icons-right .select select {
  padding-right: 2.25em;
}

.control.has-icons-right .icon.is-right {
  right: 0;
}

.control.is-loading::after {
  -webkit-animation: spinAround 500ms infinite linear;
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  position: absolute !important;
  right: 0.625em;
  top: 0.625em;
  z-index: 4;
}

.control.is-loading.is-small:after {
  font-size: 0.75rem;
}

.control.is-loading.is-medium:after {
  font-size: 1.25rem;
}

.control.is-loading.is-large:after {
  font-size: 1.5rem;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: center;
  white-space: nowrap;
}

.button:focus,
.button.is-focused,
.button:active,
.button.is-active {
  outline: none;
}

.button[disabled] {
  cursor: not-allowed;
}

.button strong {
  color: inherit;
}

.button:hover {
  border-color: #b5b5b5;
  color: #363636;
}

.button:focus {
  border-color: #3273dc;
  color: #363636;
}

.button:focus:not(:active) {
  -webkit-box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.button:active {
  border-color: #4a4a4a;
  color: #363636;
}

/*-------------------------------------------------------------*/
/* # Layout
/*-------------------------------------------------------------*/

body {
  background-color: #fff;
  color: #282828;
}

::-moz-selection {
  color: #fff;
  background-color: #282828;
}

::selection {
  color: #fff;
  background-color: #282828;
}

.container {
  margin: 0 auto;
  padding: 0 25px;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}

@media screen and (min-width: 1408px) {
  .container {
    max-width: 1344px;
  }
}

.is-paddingless {
  padding: 0 !important;
}

.is-hidden {
  display: none !important;
}

/*-------------------------------------------------------------*/
/* ## Header
/*-------------------------------------------------------------*/

header {
  background-color: #1c1c1c;
}

/*-------------------------------------------------------------*/
/* ### Affbar
/*-------------------------------------------------------------*/

.affbar {
  display: none;
  position: relative;
  width: 100%;
  height: 120px;
  background-color: #1c1c1c;
  background-repeat: no-repeat !important;
  background: center;
}

.affbar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: rgba(0, 0, 0, 0.5);
}

.affbar .affbar-content {
  position: absolute;
  top: 35%;
  right: 0;
  left: 0;
  bottom: 0;
  width: 75%;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 99;
}

.affbar .affbar-content a {
  color: #fff;
}

.affbar .affbar-content a:hover {
  color: #ccc;
}

.affbar .affbar-close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #fff;
  font-size: 24px;
  z-index: 100;
}

.affbar .affbar-close:hover {
  color: #ccc;
}

/*-------------------------------------------------------------*/
/* ### Topbar
/*-------------------------------------------------------------*/

.topbar {
  background-color: #282828;
  color: #eae8e8;
  padding: 10px 0;
}

.topbar .icon-facebook,
.topbar .icon-gplus,
.topbar .icon-twitter,
.topbar .icon-rss {
  color: #fff;
  font-size: 22px;
  margin-right: 10px;
}

.topbar .icon-rss {
  margin-right: 0;
}

.topbar .icon-facebook:hover,
.topbar .icon-gplus:hover,
.topbar .icon-twitter:hover,
.topbar .icon-rss:hover {
  color: #DD163B;
}

/*-------------------------------------------------------------*/
/* ### Navbar
/*-------------------------------------------------------------*/

.navbar {
  background-color: #f2f2f2;
  color: #f2f2f2;
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 35px;
}

.navbar .logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
}

.navbar .logo a:hover {
  color: #383838;
}

.navbar .logo span {
  color: #DD163B;
}

.navbar nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

.navbar .level-right .level-item {
  padding-right: 35px;
}

.navbar .level-right .level-item:last-child {
  padding-right: 0;
}

/*-------------------------------------------------------------*/
/* ## Index
/*-------------------------------------------------------------*/

/*-------------------------------------------------------------*/
/* ## Carousel
/*-------------------------------------------------------------*/

/*-------------------------------------------------------------*/
/* ### Promotions
/*-------------------------------------------------------------*/

.latest-promotions {
  margin-top: 10px;
  margin-bottom: 25px;
}

.latest-promotions h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 30px 0;
}

.latest-promotions h2>span {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  color: #282828;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 20px;
}

.latest-promotions h2>span>span {
  color: #DD163B;
}

.latest-promotions h2::after,
.latest-promotions h2::before {
  content: "";
  display: block;
  -webkit-box-flex: 100;
  -ms-flex: 100;
  flex: 100;
  border-bottom: 4px solid #282828;
  -webkit-transform: translateY(-17px);
  -ms-transform: translateY(-17px);
  transform: translateY(-17px);
}

.latest-promotions h2::before {
  -webkit-box-flex: 20px;
  -ms-flex: 20px;
  flex: 20px;
  width: 20px;
  min-width: 20px;
}

.latest-promotions .promotion {}

.latest-promotions .promotion-link {
  position: relative;
  display: block;
  height: 180px;
  overflow: hidden;
  -webkit-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

.latest-promotions .promotion-link img {
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform .15s ease-in-out;
  transition: -webkit-transform .15s ease-in-out;
  -o-transition: transform .15s ease-in-out;
  transition: transform .15s ease-in-out;
  -webkit-transform: .15s ease-in-out;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  will-change: transform;
  border-radius: 3px;
}

.latest-promotions .promotion:hover .promotion-link img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.latest-promotions .promotion-link:hover {
  opacity: .8
}

.latest-promotions .promotion-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 19px;
  text-transform: uppercase;
  margin-top: 15px;
}

.latest-promotions .promotion-title:hover {
  color: #DD163B;
}

.latest-promotions .promotion-text {
  margin: 10px 0 0;
}

.latest-promotions .promotion-button {
  background-color: #282828;
  padding: 8px 18px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 3px;
}

.latest-promotions .promotion-button:focus,
.latest-promotions .promotion-button:active {
  color: #fff;
}

.latest-promotions .promotion-button:hover {
  background-color: #DD163B;
  color: #fff;
}

.latest-promotions .icon-calendar {
  font-size: 15px;
}

.latest-promotions .timeago {
  font-size: 12px;
  color: #4b4c4d;
}

/*-------------------------------------------------------------*/
/* ### Guides
/*-------------------------------------------------------------*/

.latest-guides {}

.latest-guides h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 30px 0;
}

.latest-guides h2>span {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  color: #282828;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 20px;
}

.latest-guides h2>span>span {
  color: #DD163B;
}

.latest-guides h2::after,
.latest-guides h2::before {
  content: "";
  display: block;
  -webkit-box-flex: 100;
  -ms-flex: 100;
  flex: 100;
  border-bottom: 4px solid #282828;
  -webkit-transform: translateY(-17px);
  -ms-transform: translateY(-17px);
  transform: translateY(-17px);
}

.latest-guides h2::before {
  -webkit-box-flex: 20px;
  -ms-flex: 20px;
  flex: 20px;
  width: 20px;
  min-width: 20px;
}

.latest-guides .guide {}

.latest-guides .guide-link {
  position: relative;
  display: block;
  height: 240px;
  overflow: hidden;
  -webkit-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

.latest-guides .guide-link img {
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform .15s ease-in-out;
  transition: -webkit-transform .15s ease-in-out;
  -o-transition: transform .15s ease-in-out;
  transition: transform .15s ease-in-out;
  transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  will-change: transform;
  border-radius: 3px;
}

.latest-guides .guide:hover .guide-link img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.latest-guides .guide-link:hover {
  opacity: .8
}

.latest-guides .guide-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 19px;
  text-transform: uppercase;
  margin-top: 15px;
}

.latest-guides .guide-title:hover {
  color: #DD163B;
}

.latest-guides .guide-by {
  margin-top: 15px;
  font-size: .8em
}

.latest-guides .guide-by img {
  height: auto;
  margin-right: 5px;
  border-radius: 50%;
}

.latest-guides .timeago {
  font-size: 12px;
  color: #4b4c4d;
}

.latest-guides .guide-text {
  margin: 15px 0 0;
}

.latest-guides .guide-button {
  background: #282828;
  padding: 8px 18px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 3px;
}

.latest-guides .guide-button:focus,
.latest-guides .guide-button:active {
  color: #fff;
}

.latest-guides .guide-button:hover {
  background: #DD163B;
  color: #fff;
}

/*-------------------------------------------------------------*/
/* ## Breadcrumbs
/*-------------------------------------------------------------*/

.breadcrumbs {
  padding: 0;
  margin: 0 0 25px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: #282828;
  text-transform: uppercase;
  list-style-type: none;
}

.breadcrumbs>li {
  display: inline-block;
  font-size: 1.07rem;
}

.breadcrumbs>li+li {
  margin-left: 6px;
}

.breadcrumbs>li a {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs>li a.hover,
.breadcrumbs>li a:hover {
  color: #dd163b;
}

.breadcrumbs>li i {
  font-size: 0.85rem;
}

.breadcrumbs>li:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 9px;
  margin-left: 0;
  font-size: 2.025rem;
}

.breadcrumbs>li:last-of-type>a,
.breadcrumbs>li:last-of-type>span {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  padding-right: 20px;
}

.breadcrumbs>li:last-of-type::after {
  content: "";
  display: block;
  -webkit-box-flex: 100;
  -ms-flex: 100;
  flex: 100;
  border-bottom: 4px solid #dd163b;
  -webkit-transform: translateY(-12px);
  -ms-transform: translateY(-12px);
  transform: translateY(-12px);
}

/*-------------------------------------------------------------*/
/* ## Post
/*-------------------------------------------------------------*/

.post {}

.post-body {}

.post-image {
  width: 100%;
  height: auto;
  border-radius: 3px;
  margin-bottom: 10px;
}

.post-title {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: #282828;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 10px;
}

.post-by {
  margin-top: 15px;
  font-size: .8em
}

.post-by a {
  margin-left: 5px;
}

.post-by a:hover {
  text-decoration: underline;
}

.post-by::after {
  content: "";
  display: block;
  clear: both;
}

.post-by img {
  height: auto;
  margin-right: 10px;
  border-radius: 50%;
}

.post-content {
  margin-top: 20px;
  margin-bottom: 35px;
}

.post-tags {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.post-tags a {
  background: #333;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 2px;
}

.post-tags a:hover {
  background: #555;
}

.post-body .panel .panel-heading {
  background-color: #282828;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  margin: 0;
}

.post-body .panel .panel-block {
  border-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 15px;
  background: #383838;
}

.post-body .panel .panel-block:hover {
  background-color: #282828;
}

.post-body .panel .panel-block:last-of-type {
  border-radius: 0 0 3px 3px;
}

.post-body .panel .panel-block .panel-icon {
  color: #fff;
}

.post-body .back-to-guide {
  background: #282828;
  padding: 8px 18px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 3px;
}

.post-body .back-to-guide:hover {
  background-color: #DD163B;
}

.post-share {
  background-color: #282828;
  padding: 5px 10px 5px 25px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 3px;
  margin-top: 25px;
}

.post-share li {
  display: inline-block;
  margin-right: 10px;
}

.post-share li:last-child {
  margin-right: 0;
}

.post-share a {
  color: #fff;
}

.post-share a:hover {
  color: #DD163B;
}

.latest-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 0 10px 0;
}

.latest-comments>span {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  color: #282828;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 20px;
}

.latest-comments>span>span {
  color: #dd163b;
}

.latest-comments::after,
.latest-comments::before {
  content: "";
  display: block;
  -webkit-box-flex: 100;
  -ms-flex: 100;
  flex: 100;
  border-bottom: 4px solid;
  -webkit-transform: translateY(-17px);
  -ms-transform: translateY(-17px);
  transform: translateY(-17px);
}

.latest-comments::before {
  -webkit-box-flex: 20px;
  -ms-flex: 20px;
  flex: 20px;
  width: 20px;
  min-width: 20px;
}

.latest-comments::after,
.latest-comments::before {
  border-bottom-color: #282828;
}

/*-------------------------------------------------------------*/
/* ## Pages
/*-------------------------------------------------------------*/

.page {}

.page-body {}

.page-image {
  width: 100%;
  height: auto;
  border-radius: 3px;
  margin-bottom: 10px;
}

.page-title {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: #282828;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 25px;
}

.page-content {}

/*-------------------------------------------------------------*/
/* ## Category and Tag Pages
/*-------------------------------------------------------------*/

.site-tags .tag-list {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px; 
}

.site-tags .tag-list a {
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
}

.site-tags .tag-list a:hover {
  background: #555;
}

.site-tags .tag-posts h3 {
  color: #333;
  font-size: 30px;
}

.site-tags .tag-posts .tag-posts-tagged {
  list-style-type: square;
}

.site-tags .tag-posts .tag-posts-tagged a li {
  font-size: 18px;
}

/*---------------------------------------------*/
/* ## 404 Page
/*---------------------------------------------*/

.not-found {
  text-align: center;
}

.not-found img {
  margin-bottom: 25px;
}

.not-found p {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: #282828;
  margin-bottom: 10px;
}

.not-found a {
  color: #DD163B;
}

.not-found form {
  margin-top: 25px;
}

.not-found .field input {
  height: 40px;
  padding: 5px 10px;
  border-radius: 0;
}

.not-found .field input::placeholder {
  color: #1a1a1a;
}

.not-found .field input:focus {
  border: 1px #DD163B solid;
  box-shadow: 0 0 0px;
}

.not-found .field .control button {
  width: 50px;
  height: 40px;
  background-color: #DD163B;
  color: #fff;
  padding: 5px 10px;
  border-color: #DD163B;
  border-radius: 0;
}

.not-found .field .control button:hover {
  background-color: #282828;
  border-color: #282828;
}

/*-------------------------------------------------------------*/
/* ## Pagination
/*-------------------------------------------------------------*/

.pagination {
  margin-top: 20px;
}

.pagination a {
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
}

.pagination a:hover {
  background: #DD163B;
}

/*-------------------------------------------------------------*/
/* ## Sidebar
/*-------------------------------------------------------------*/

.widget {
  overflow: hidden;
}

.widget~.widget {
  margin-top: 30px;
}

.widget h4 {
  margin-bottom: 15px;
  font-size: 1.22rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
}

.widget-highlighted h4 {
  position: relative;
  background-color: #282828;
  padding: 23px 23px;
  margin-bottom: 0;
  z-index: 1;
}

.widget-highlighted h4>span {
  display: inline-block;
  background-color: #282828;
  padding-right: 23px;
}

.widget-highlighted h4>span>span {
  color: #DD163B;
}

.widget-highlighted h4::after {
  content: "";
  position: absolute;
  display: block;
  top: 32px;
  right: 1px;
  left: 30px;
  height: 3px;
  background-color: #fff;
  z-index: -1;
}

.widget-highlighted .widget-content {
  padding: 20px 20px 0;
  background-color: #333;
  color: #eae8e8;
  border: 1px solid #282828;
}

.widget-content .field .is-expanded .input {
  height: 40px;
  padding: 5px 10px;
  border-radius: 0;
}

.widget-content .field .is-expanded .input::placeholder {
  color: #1a1a1a;
}

.widget-content .field .is-expanded .input:focus {
  border: 1px #DD163B solid;
  box-shadow: 0 0 0px;
}

.widget-content .field .control .button {
  width: 50px;
  height: 40px;
  background-color: #DD163B;
  color: #fff;
  padding: 5px 10px;
  border-color: #DD163B;
  border-radius: 0;
}

.widget-content .field .control .button:hover {
  background-color: #282828;
  border-color: #282828;
}

.widget-content.is-paddingless [class*='is-column']:nth-child(1):hover {
  background-color: #3b5998;
}

.widget-content.is-paddingless [class*='is-column']:nth-child(2):hover {
  background-color: #d34836;
}

.widget-content.is-paddingless [class*='is-column']:nth-child(3):hover {
  background-color: #00aced;
}

.widget-content.is-paddingless [class*='is-column']:nth-child(4):hover {
  background-color: #ee802f;
}

/*-------------------------------------------------------------*/
/* ## Footer
/*-------------------------------------------------------------*/

.pre-footer {
  background: #282a2b;
  color: #ddd;
  padding: 50px 0 25px;
  border-top: 1px solid #e9eaee;
  margin-top: 50px;
}

.pre-footer h5 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.pre-footer h5 span {
  color: #DD163B;
}

.pre-footer .site-description {
  margin-bottom: 30px;
}

.pre-footer .recommended-text {
  margin-bottom: 15px;
}

.pre-footer .recommended-browsers a {
  color: #aaa;
}

.pre-footer .recommended-browsers a:hover {
  color: #DD163B;
}

.pre-footer .recommended-browsers .icon-firefox,
.pre-footer .recommended-browsers .icon-chrome,
.pre-footer .recommended-browsers .icon-safari,
.pre-footer .recommended-browsers .icon-opera,
.pre-footer .recommended-browsers .icon-edge {
  font-size: 27px;
  margin-right: 8px;
}

.pre-footer .recommended-browsers .icon-edge {
  margin-right: 0;
}

.main-footer {
  background-color: #282a2b;
  color: #fff;
  padding: 15px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-top: 1px solid #383838;
}

.main-footer a {
  color: #fff;
}

.main-footer a:hover {
  color: #DD163B;
}

.main-footer .level-item a {
  margin-right: 10px;
}

.main-footer .level-item a:last-child {
  margin-right: 0;
}

.back-to-top,
.back-to-top:focus {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  line-height: 45px;
  background: #DD163B;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  display: none;
  -webkit-transition: line-height .25s;
  /* Safari */
  transition: line-height .25s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.back-to-top:hover {
  color: #fff;
  line-height: 35px;
  -webkit-transition: line-height .25s;
  /* Safari */
  transition: line-height .25s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.back-to-top .icon-up {
  font-size: 19px;
  margin-left: 15px;
}

.back-to-top.show {
  display: inline;
}

/*-------------------------------------------------------------*/
/* ## Mobile Menu
/*-------------------------------------------------------------*/

.off-canvas {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 99;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

.off-canvas a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.off-canvas a:hover {
  color: #f1f1f1;
}

.off-canvas .close-off-canvas {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .off-canvas {
    padding-top: 15px;
  }
  .off-canvas a {
    font-size: 18px;
  }
}

/*-------------------------------------------------------------*/
/* # Cookie Consent
/*-------------------------------------------------------------*/

.cc-window {
  opacity: 1;
  transition: opacity 1s ease
}

.cc-window.cc-invisible {
  opacity: 0
}

.cc-animate.cc-revoke {
  transition: transform 1s ease
}

.cc-animate.cc-revoke.cc-top {
  transform: translateY(-2em)
}

.cc-animate.cc-revoke.cc-bottom {
  transform: translateY(2em)
}

.cc-animate.cc-revoke.cc-active.cc-bottom,
.cc-animate.cc-revoke.cc-active.cc-top,
.cc-revoke:hover {
  transform: translateY(0)
}

.cc-grower {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s
}

.cc-link,
.cc-revoke:hover {
  text-decoration: underline
}

.cc-revoke,
.cc-window {
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  z-index: 9999
}

.cc-window.cc-static {
  position: static
}

.cc-window.cc-floating {
  padding: 2em;
  max-width: 24em;
  -ms-flex-direction: column;
  flex-direction: column
}

.cc-window.cc-banner {
  padding: 1em 1.8em;
  width: 100%;
  -ms-flex-direction: row;
  flex-direction: row
}

.cc-revoke {
  padding: .5em
}

.cc-header {
  font-size: 18px;
  font-weight: 700
}

.cc-btn,
.cc-close,
.cc-link,
.cc-revoke {
  cursor: pointer
}

.cc-link {
  opacity: .8;
  display: inline-block;
  padding: .2em
}

.cc-link:hover {
  opacity: 1
}

.cc-link:active,
.cc-link:visited {
  color: initial
}

.cc-btn {
  display: block;
  padding: .4em .8em;
  font-size: .9em;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  white-space: nowrap
}

.cc-banner .cc-btn:last-child {
  min-width: 140px
}

.cc-highlight .cc-btn:first-child {
  background-color: transparent;
  border-color: transparent
}

.cc-highlight .cc-btn:first-child:focus,
.cc-highlight .cc-btn:first-child:hover {
  background-color: transparent;
  text-decoration: underline
}

.cc-close {
  display: block;
  position: absolute;
  top: .5em;
  right: .5em;
  font-size: 1.6em;
  opacity: .9;
  line-height: .75
}

.cc-close:focus,
.cc-close:hover {
  opacity: 1
}

.cc-revoke.cc-top {
  top: 0;
  left: 3em;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em
}

.cc-revoke.cc-bottom {
  bottom: 0;
  left: 3em;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em
}

.cc-revoke.cc-left {
  left: 3em;
  right: unset
}

.cc-revoke.cc-right {
  right: 3em;
  left: unset
}

.cc-top {
  top: 1em
}

.cc-left {
  left: 1em
}

.cc-right {
  right: 1em
}

.cc-bottom {
  bottom: 1em
}

.cc-floating>.cc-link {
  margin-bottom: 1em
}

.cc-floating .cc-message {
  display: block;
  margin-bottom: 1em
}

.cc-window.cc-floating .cc-compliance {
  -ms-flex: 1;
  flex: 1
}

.cc-window.cc-banner {
  -ms-flex-align: center;
  align-items: center
}

.cc-banner.cc-top {
  left: 0;
  right: 0;
  top: 0
}

.cc-banner.cc-bottom {
  left: 0;
  right: 0;
  bottom: 0
}

.cc-banner .cc-message {
  -ms-flex: 1;
  flex: 1
}

.cc-compliance {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: justify;
  align-content: space-between
}

.cc-compliance>.cc-btn {
  -ms-flex: 1;
  flex: 1
}

.cc-btn+.cc-btn {
  margin-left: .5em
}

@media print {
  .cc-revoke,
  .cc-window {
    display: none
  }
}

@media screen and (max-width:900px) {
  .cc-btn {
    white-space: normal
  }
}

@media screen and (max-width:414px) and (orientation:portrait),
screen and (max-width:736px) and (orientation:landscape) {
  .cc-window.cc-top {
    top: 0
  }
  .cc-window.cc-bottom {
    bottom: 0
  }
  .cc-window.cc-banner,
  .cc-window.cc-left,
  .cc-window.cc-right {
    left: 0;
    right: 0
  }
  .cc-window.cc-banner {
    -ms-flex-direction: column;
    flex-direction: column
  }
  .cc-window.cc-banner .cc-compliance {
    -ms-flex: 1;
    flex: 1
  }
  .cc-window.cc-floating {
    max-width: none
  }
  .cc-window .cc-message {
    margin-bottom: 1em
  }
  .cc-window.cc-banner {
    -ms-flex-align: unset;
    align-items: unset
  }
}

.cc-floating.cc-theme-classic {
  padding: 1.2em;
  border-radius: 5px
}

.cc-floating.cc-type-info.cc-theme-classic .cc-compliance {
  text-align: center;
  display: inline;
  -ms-flex: none;
  flex: none
}

.cc-theme-classic .cc-btn {
  border-radius: 5px
}

.cc-theme-classic .cc-btn:last-child {
  min-width: 140px
}

.cc-floating.cc-type-info.cc-theme-classic .cc-btn {
  display: inline-block
}

.cc-theme-edgeless.cc-window {
  padding: 0
}

.cc-floating.cc-theme-edgeless .cc-message {
  margin: 2em 2em 1.5em
}

.cc-banner.cc-theme-edgeless .cc-btn {
  margin: 0;
  padding: .8em 1.8em;
  height: 100%
}

.cc-banner.cc-theme-edgeless .cc-message {
  margin-left: 1em
}

.cc-floating.cc-theme-edgeless .cc-btn+.cc-btn {
  margin-left: 0
}

/*-------------------------------------------------------------*/
/* # Media Queries
/*-------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  .is-hidden-mobile {
    display: none !important;
  }
  .is-visible-mobile {
    display: block !important;
  }
}
